.main h2,
.main h3 {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 10px;
}

.main img {
  text-align: center;
  padding-top: 0px;
}


.header,
.navbar {
  background: #fff;
}

.footer {
  background: #333;
  color: #f8f8f8;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer a:link,
.footer a:hover,
.footer a:visited,
.footer a:active {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0px;
  border-radius: 0;
}

.navbar-default .navbar-brand {
  width: 300px
}

.navbar li.active a span:before,
.navbar-default .navbar-nav>li>a:hover span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #009edd;
  /* visibility: hidden; */
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: rgba(200, 203, 205, 0.2);
    transition: background-color .4s, color;
  }

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
   color:#FFF;
  background-color: #009edd;
}

.jumbotron {
  background-image: url('../image/vattensoft-ad.jpg');
  background-size: cover;
  min-height: 70vh;
  background-position: center center;
  margin-top: 52px;
  margin-bottom: 0px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand:after {
  content: '';
  clear: both;
}

.logo {
    width: 180px;
    overflow: hidden;
}

@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.pic>img,
.icon>img {

  height: 147px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic .img-circle {
  border :6px #FFF solid;
}

.pic {
  position: relative;
  margin-top: 40px;
}

.team .item {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FFF;
  margin-bottom: 30px;
  border-radius: 6px;
  opacity: .2;
  /* border: 2px #9E9E9E solid; */
  transition: all 0.3s ease;
}

.team .item:hover {
  box-shadow: 0px 0px #009edd,
  3px 3px #009edd,
  3px 3px #009edd;
  opacity: 1;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
.team .item h3 {
  text-transform: uppercase;
  color: #333;
}

.team .item h4 {
  color: #333133;
}

.team .item p {
  color: #555;
  padding-left: 10px;
  padding-right: 10px;
  margin: 24px;
  font-style: italic;
}
.social-link{
  text-align: center;
}

.social-icon {
  display: inline-block;
  height: 32px;
}

.social-icon:nth-child(n+1) {
  margin-left: .7em;
}

.service,
.project,
.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.service {
  background: #fff;
}

.project {
  background: #f2f2f2;;
}

.team {
background: rgba(3, 169, 244, .3);
}

.title {
  margin-bottom: 50px;
  color: #606059;
}

.title h2 {
  color: #333;
}

.project .title,
.service .title {
  margin-bottom: 20px;
}

.vatten-ad {
  background: hsla(0, 0%, 0%, 0.5);
  color: #fff;
  padding: 20px 20px;
  border-radius: 6px;
}

.vatten-ad>p {
  color: #f4f4f4;
}

.glyphicon {
  font-size: 26px;
  color: #e7e7e7;
}

.contact-info {
  text-emphasis: horizontal;
}

.contact-info>li {
  margin-bottom: 1em;
}

.contact-info>li>i {
  margin-right: .5em;
}

/*vertical-align: middle*/

.contact-info>li>i::before {
  height: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.vatten-counter {
  font-size: 50px;
  display: block;
  color: #009edd;
  font-family: "PT Sans", Arial, serif;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}

.vatten-counter-label {
  color: #444;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 2em;
  display: block;
}

.project-introduction,
.service-introduction {
  color: #444;
  /* letter-spacing: 2px;*/
  margin-bottom: 5em;
  display: block;
}

.icon {
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
h4,
p,
section,
section span,
section div.box-services,
section li,
.item {
  visibility: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #009edd;
    border-color: #009edd;
    border-radius: 4px;
}

.btn-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #FFF;
    border-radius: 4px;
    border-style: solid;
}

.animated {
  visibility: visible;
}

.to-be-animated {
  opacity: 0;
}

.to-be-animated.animated {
  opacity: 1;
}
